<a href="https://colab.research.google.com/github/Tran-Thu-Le/share/blob/main/Time_Series/Load_Bitcoin_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import requests
import pandas as pd

def get_crypto_price(symbol, exchange, start_date = None):
    api_key = 'YOUR API KEY'
    api_url = f'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol={symbol}&market={exchange}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    df = pd.DataFrame(raw_df['Time Series (Digital Currency Daily)']).T
    df = df.rename(columns = {'1a. open (USD)': 'open', '2a. high (USD)': 'high', '3a. low (USD)': 'low', '4a. close (USD)': 'close', '5. volume': 'volume'})
    for i in df.columns:
        df[i] = df[i].astype(float)
    df.index = pd.to_datetime(df.index)
    df = df.iloc[::-1].drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)', '6. market cap (USD)'], axis = 1)
    if start_date:
        df = df[df.index >= start_date]
    return df

btc = get_crypto_price(symbol = 'BTC', exchange = 'USD', start_date = '2012-01-01')
btc

                open      high       low     close        volume
2018-10-31   6330.01   6428.00   6245.02   6371.93  12148.888216
2018-11-01   6369.52   6442.65   6348.66   6410.00   9099.035841
2018-11-02   6410.00   6460.34   6388.20   6433.98   9739.440679
2018-11-03   6432.80   6439.97   6345.00   6387.09   7661.241476
2018-11-04   6388.00   6525.00   6359.00   6485.85  10592.394943
...              ...       ...       ...       ...           ...
2021-07-22  32144.51  32591.35  31708.00  32287.83  46148.092433
2021-07-23  32287.58  33650.00  31924.32  33634.09  50112.863626
2021-07-24  33634.10  34500.00  33401.14  34258.14  47977.550138
2021-07-25  34261.51  35398.00  33851.12  35381.02  47852.928313
2021-07-26  35381.02  35875.00  35205.78  35829.33   5145.763523

[1000 rows x 5 columns]